@import "variables.scss";
@import '~font-awesome/css/font-awesome.css';
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
    overflow: hidden;
    padding-bottom: 15px;
}

i {
    font-family: fontawesome !important;
    font-style:normal;
    color:$iconColor;
    }

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.wrap {
    background-color: $pageBgColor;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
    .form-container {
        width: 500px;
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $formBgColor;
        margin: auto;
        border-radius: 3px;
        .heading {
            margin-top: 20px;
            color: #ffff;
            font-weight: normal;
        }
        .sign-form {
            display: flex;
            flex-direction: column;
            margin: 20px auto 0px;
            width: fit-content;
            height: 200px;
            justify-content: space-between;
            .inputs {
                display: flex;
                flex-direction: column;  
                color: white;
                &__item{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    .mail-icon{
                        position: absolute;
                        left: -30px;
                        top: 30px;
                        
                    }
                    .pass-icon{
                        position: absolute;
                        left: -30px;
                        top: 30px;
                        
                    }
                }
                &__item:not(:first-child){
                    margin-top: 15px;
                }
                .sign-form__inp {
                    width: 250px;
                    height: 30px;
                    border: none;
                    border-radius: 3px;
                }
                .sign-form__label{
                    font-size: 12px;
                    margin-bottom: 5px;
                    margin-bottom: 10px;
                }
            }
            &__btn {
                width: 250px;
                height: 30px;
                border: none;
                background-color: $btnBgColor;
                cursor: pointer;
                border-radius: 3px;
            }
            &__btn:active{
                background-color: $btnBgColorActive;
            }
        }
    }
}





//Mainpage
.wrap {

    .header {
        &__title {
            color: #ffff;
        }
    }

    .container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        .category{
            display: flex;
            flex-wrap: wrap;
           height: fit-content;
            width: 200px;
        }
        .dialogs-container {
            height: 96vh;
            width: 200px;
            display: flex;
            flex-direction: column;
            background-color: $formBgColor;
            overflow: auto;
            padding: 15px 0px;

            .dialog-preview {
                &:hover {
                    cursor: pointer;
                }

                &__text-content {

                }

                &__title {
                    font-size: 20px;
                    font-weight: normal;
                    color: white;
                }

                &__text {
                    font-size: 20px;
                    color: #4a5c98;
                }
            }

            .dialog-preview:hover {
                background-color: #292f66;
            }

            .dialog-preview active {
                background-color: #292f66;
            }
        }

        .dialogs-container::-webkit-scrollbar {
            width: 0;
        }

        .dialog-content-container {
            height: 100vh;
            padding-left: 80px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 20;
            color: black;
            background-color: $dialogContentContBgColor;
            overflow: auto;

            .dialog-message:not(:first-child) {
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }
}





.error{
    margin-top: 5px;
    color: #ffff;
    font-size: 9px;
}
