
//background colors

//login page
$pageBgColor:#1a2634;
$formBgColor:#233043;
$btnBgColor:#4586f5;
$btnBgColorActive:#053d9c;

//main page
$dialogsContBgColor:#343b80;
$dialogContentContBgColor:#ffff;
//icon colors
$iconColor:#4586f5;